header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: hsl(46, 91%, 73%);
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

header .nav-topo{
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-topo{
    border: 1px solid black;
}

.nav-topo img{
    width: auto;
    height: 60px;
}

.box-links{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

